body{
	font-family: 'arial' , sans-serif ;
	color: #333;
	margin: 0;
}

main{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

footer{
	margin-top: 20px;
	background-color: #eee;
	padding: 20px;

}

div[class^="menu-"]{
	background-color: #eee;
	padding: 20px;
}

.menu .menu-item{
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	
}